
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-image: url("./img/jumbo.png");
    height: 570px;
    background-size: contain;
    background-repeat: no-repeat;
}
header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.logo{
    padding-top: 0.5rem;
}
a{
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.col_1{
    width: calc((100% / 12)*1);
}
.col_2{
    width: calc((100% / 12)*2);
}
.col_3{
    width: calc((100% / 12)*3);
    align-self: center;
}
.col_4{
    width: calc((100% / 12)*4);
}
.col_6{
    width: calc((100% / 12)*6);
    align-self: center;
    text-align: center;
}
.col_8{
    width: calc((100% / 12)*8);
}
.accedi, .mac{
    background-color: white;
    border: none;
    border-radius: 2rem;

}
.accedi{
    padding: 0.5rem;
    margin-left: 12rem;
    margin-top: 0.5rem;
}
.jus{
    display: flex;
    justify-content: center;
}
.download, .club{
    color: white;
    text-align: center;
}
.download{
    font-weight: 600;
    font-size: 30px;
    margin: 4rem 0 2rem;
}
.club{
    font-size: 20px;
}
.mac, .broswer{
    padding: 1rem;
    margin-top: 2rem;
    
}
.broswer{
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
}

.place{
    font-size: 40px;
    margin-top: 3rem;
}
.server{
    font-size: 17px;
    margin-top: 2rem;
}

.space, .easy, .fandom{
    margin-top: 1rem;
}
.debug .col_4, .debug .col_2{
    height: 300px;
}
.easy, .tecnology{
    background-color: #F6F6F6;
}
.square{
    height: 300px;
    background-color: yellow;
    margin-top: 1rem;
}
.talk{
    background-color: black;
}
.foot{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: chartreuse;
    margin-top: 2rem;
}
.final{
    align-self: center;
}
span{
    font-size: 1rem;
    font-weight: 900;
}
